/* ================================ Font Families =================================== */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* =============================== ROOT VARIABLES ================================= */
:root {
  /* -------------------------------- Colors ---------------------------------------*/
  --clr-white: #ffffff;
  --clr-light-grey: #eff2f5;
  --clr-light-blue: #cce1f4;
  --clr-light-blue-lines: #c0dffb;
  --clr-blue: #3197f5;
  --clr-blue-light-bg: #137ee0;
  --clr-grey: #7f97bc;
  --clr-dark-grey: #48699b;
  --clr-dark-blue-outlines: #0a2f5f;
  --clr-dark-blue: #00193e;
  --clr-light-black: #334157;
  --clr-black: #00122d;
  /* -------------------------------- Font-sizes ---------------------------------- */
  --fs-5xl: 64px;
  --fs-4xl: 44px;
  --fs-3xl: 36px;
  --fs-2xl: 28px;
  --fs-xl: 24px;
  --fs-lg: 20px;
  --fs-md: 18px;
  --fs-sm: 16px;
  --fs-xsm: 14px;
}
/* ======================================== colors root classes ========================  */
.clr_white {
  color: var(--clr-white);
}
.clr_lightgrey {
  color: var(--clr-light-grey);
}
.clr_lightblue {
  color: var(--clr-light-blue);
}
.clr_lightblue_lines {
  color: var(--clr-light-blue-lines);
}
.clr_blue {
  color: var(--clr-blue);
}
.clr_blue_lightbg {
  color: var(--clr-blue-light-bg);
}
.clr_grey {
  color: var(--clr-grey);
}
.clr_darkgrey {
  color: var(--clr-dark-grey);
}
.clr_darkblue_outlines {
  color: var(--clr-dark-blue-outlines);
}
.clr_darkblue {
  color: var(--clr-dark-blue);
}
.clr_lightblack {
  color: var(--clr-light-black);
}
.clr_black {
  color: var(--clr-black);
}
/* ======================================= background colors ================================ */
.bg_lightgrey {
  background-color: var(--clr-light-grey);
}
.bg_bluelight {
  background-color: var(--clr-blue-light-bg);
}
.bg_darkblue {
  background-color: var(--clr-dark-blue);
}
/* ======================================== font sizes root ================================ */
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
/* ========================================= Custom Container ================================= */
.custom_container {
  max-width: 1304px;
  padding: 0px 12px;
  margin: 0px auto;
}
/* ========================================= Font Family ====================================== */
.ff_manrope {
  font-family: "Manrope";
}
/* ======================================== Line Heights ====================================== */
.lh_120 {
  line-height: 120%;
}
.lh_130 {
  line-height: 130%;
}
.lh_140 {
  line-height: 140%;
}
.lh_160 {
  line-height: 160%;
}
/* ========================================Letter Spacing ======================================== */
.ls_n1 {
  letter-spacing: -1%;
}
